doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    style.
      body {
        font-family: verdana;
        position: relative;
        width: #{bgSize.width}px;
        height: #{bgSize.height}px;
        background: url(#{background}) no-repeat;
        text-align: center;
      }
      h1 {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         -webkit-transform: translateX(-50%);
         color: white;
         width: 600px;
         margin: 30px auto;
         font-size: 3em;
         text-shadow:0 0 5px black;
      }
      .upper {
        z-index: 2;
      }
      .glow {
        z-index: 1;
        -webkit-text-stroke: 15px black;
      }
      .start-btn {
         position: absolute;
         bottom: 30px;
         left: 50%;
         transform: translateX(-50%);
         -webkit-transform: translateX(-50%);
         display: inline-block;
         color: white;
         font-size: 3em;
         padding: 15px 30px;
         border-radius: 10px;
         text-decoration: none;
         background: -webkit-radial-gradient(circle, #DF0000, #CA0000);
         box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.45);
      }
      .start-btn span {
        text-shadow:0 0 10px black;
      }
      #{customCSS}

  body
    h1.upper!= mainText
    h1.glow!= mainText
    div.start-btn
      span ▸
      span= startButtonText
